.myCard{
   padding-bottom: 10px;
    padding-top: 10px;

    .card-body{
        .card-title, .currentPrice{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-text{
            .dealPrice{
                color: red;
                font-size: 2em;
            }
            .currentPrice{
                text-decoration: line-through;
            }

            .vouches{
                width: 100%;
                margin: 0px;
            }

         /deep/   .progress{
                margin: 0px;
                .progress-bar {
                    height: 100%;
                }
            }
        }
    }

    
}
