.checkout-shipping{
    float:left
}
.checkout-billing{
    float:left
}
.checkout-vouch{
    float:left
}
.badge{
    color:black;
}

.current{
    top: 80%;
    bottom: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 35.7143px;
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
}

.progress-wrapper{
    position: relative;
    margin: 20px auto;
    font-size: 40px;
}
.timer{
    width: 100%;
    margin-left: 0px;
    // padding-left: 20px;
}
hr{
    width: 100%;
}

.price-row{
    padding: 20px;
    position: relative;
    width: 100%;

}
.disc-price{
    font-weight: bold;
   
    font-size: 24px;
    left: 0;
   
}

.curr-price{
    margin-left: 15px;
    font-size: 0.8rem;
}

.save-perct{
    margin-left: 20px;
    // color: red;
    font-weight: bold;
    right: 0;
}

/deep/  .countdown{
    .measurements{
        margin-right: 10px;
        .measurements-number{
            display: inline-block;
            padding: 0 2px;
            width: 32px;
            height: 35px;
            line-height: 35px;
            box-sizing: initial;
            background: gray;
            color: white;
            box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }
    }
    
}