<div class="container">
      <form (ngSubmit)="onSubmit();style.show()" #vouchForm="ngForm">
        <div class="form-group checkout-shipping col-md-8" style="padding-right:50px;" >
          <h3><span class="badge">1</span>Shipping Info</h3>
          <input [(ngModel)]="model.firstName" id="firstName" class="checkout-field" type="text" placeholder="First Name" name="firstName" #firstName="ngModel" required/>
          <label for="firstName">First Name</label>
          <div [hidden]="firstName.pristine || firstName.valid"
           class="alert alert-danger">
           First Name is required
          </div>
          <input [(ngModel)]="model.lastName" id="lastName" class="checkout-field" type="text" placeholder="Last Name" #lastName="ngModel"name="lastName" required/>
          <label for="lastName">Last Name</label>
          <div [hidden]="lastName.pristine || lastName.valid"
           class="alert alert-danger" >
           Last Name is required
          </div>
          <input [(ngModel)]="model.email" id="email" class="checkout-field" type="text" placeholder="Email" name="email" required #email="ngModel" />
          <label for="email">Email</label>
          <div [hidden]="email.pristine || email.valid"
           class="alert alert-danger" >
           Email is required
          </div>
          <input [(ngModel)]="model.address" id="address" class="checkout-field" type="text" placeholder="Address" name="address" required #address="ngModel" />
          <label for="address">Address</label>
          <div [hidden]="address.pristine || address.valid"
           class="alert alert-danger" >
           Address is required
          </div>
        <!-- </div>
        <div class="form-group checkout-billing col-md-8"> -->
          <h3><span class="badge">2</span>Enter payment method</h3>
          <input [(ngModel)]="model.creditCard" id="creditCard" class="checkout-field" type="text" placeholder="creditCard" name="creditCard" #creditCard="ngModel" required/>
          <label for="creditCard">Credit Card</label>
          <div [hidden]="creditCard.pristine || creditCard.valid"
           class="alert alert-danger">
           Credit Card is required
          </div>
          <input [(ngModel)]="model.cvc" id="cvc" class="checkout-field" type="text" placeholder="cvc" #cvc="ngModel" name="cvc" required/>
          <label for="cvc">CVC</label>
          <div [hidden]="cvc.pristine || cvc.valid"
           class="alert alert-danger">
           CVC is required
          </div>
          <input [(ngModel)]="model.expirationDate" id="expirationDate" class="checkout-field" type="text" placeholder="Expiration Date" name="expirationDate" required #expirationDate="ngModel" />
          <label for="expirationDate">Expiration Date</label>
          <div [hidden]="expirationDate.pristine || expirationDate.valid"
           class="alert alert-danger" >
           Expiration Date is required
          </div>
        </div>
        <div class="form-group checkout-vouch col-md-4">
            <div class="row cart-body z-depth-1">

                <div class="price-row"><span class="disc-price text-left">Subtotal</span>  <span class="curr-price">{{model.quantity}} x {{vouch_price}}</span>  <span class="save-perct">${{vouch_price_total | number:'1.1-2'}}</span> </div>

              <hr>
                <div class="progress-wrapper">
                    <div class="current">{{vouch_qty}}/{{item.min_vouch}}</div>
                    <round-progress [current]="vouch_qty" [max]="item.min_vouch" [semicircle]="true"  [rounded]="true"></round-progress>
                </div>
                <div class="timer"><countdown [text]="text" units=" Days | Hours | Minutes | Seconds"  [end]="this.expiry"></countdown>
                </div>
                <div style="text-align:left;width: 100%; padding-left: 20px; margin-top: 10px; ">
                    <p><input name="buyOptions" type="radio" id="buyAnyway" [(ngModel)] = "model.buyOptions" [value]="0" />
                    <label for="buyAnyway" style="display: initial;font-size: 14px;">Buy at original price ${{current_price}}, if the required vouches are not reached</label></p>

                    <p><input name="buyOptions" type="radio" id="buyWithVouch" [(ngModel)] = "model.buyOptions" [value]="1" checked/>
                    <label for="buyWithVouch" style="font-size: 14px;">Buy only if the discount is acheived</label></p>
                  </div>

               <div style="margin:auto;"><button type="submit" class="btn btn-success" [disabled]="!vouchForm.valid">Vouch!!</button></div>
               <hr>
                <div style="padding:10px;">
                  <p>Share this awesome deal with your friends and increase your chances of getting the discount</p>
                <button shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
                    <i [class]="share.prop.twitter.icon"></i>
                  </button>
                <button mat-fab shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
                  <i [class]="share.prop.facebook.icon"></i>
                </button>
                <button shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color">
                  <i [class]="share.prop.whatsapp.icon"></i>
                </button>
                <button mat-fab shareButton="linkedin" [style.backgroundColor]="share.prop.linkedin.color">
                    <i [class]="share.prop.linkedin.icon"></i>
                  </button>
                  <button mat-fab shareButton="telegram" [style.backgroundColor]="share.prop.telegram.color">
                    <i [class]="share.prop.telegram.icon"></i>
                  </button>
                  <button mat-fab shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color">
                    <i [class]="share.prop.pinterest.icon"></i>
                  </button>
                </div>
              </div>

        </div>

      </form>
  </div>

  <div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notify modal-success" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <p class="heading lead">Congratulations!</p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
                      <span aria-hidden="true" class="white-text">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="text-center">
                      <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                      <p>You are now a part of this Power Vouch</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
