<div class="container-fluid item-detail" ng-if="item">
  <!-- Content here -->
  <div class="row">
    <div class="col-md-8 item-card">
       <h4 class="text-left">{{item.name}}</h4>
       <div class="row">
         <div class="col-2">
           <img src="{{item.image_small}}" alt="" class="img-thumbnail">
         </div>
         <div class="col-10">
            <img src="{{item.image_big}}" alt="" style="width:100%;">
         </div>
       </div>
       <div class="row">
          <h5 class="text-left about-item">About this item</h5>
          <p class="text-left">{{item.description}}</p>
        </div>
  </div>
  <div class="col-md-4 cart-card">
    <div class="row cart-body z-depth-1">
      <div class="price-row"><span class="disc-price text-left">${{item.vouch_price}}</span>  <span class="curr-price">Orig. price ${{item.current_price}}</span>  <span class="save-perct">save {{savePerct| number:'1.1-2'}}%</span> </div>
      <hr>
      <div class="progress-wrapper">
          <div class="current">{{vouch_qty}}/{{item.min_vouch}}</div>
          <round-progress [current]="vouch_qty" [max]="item.min_vouch" [semicircle]="true"  [rounded]="true"></round-progress>

      </div>
      <!-- <div class="timer">Expires: {{item.voucher_expiration|date:'yyyy-MM-dd HH:mm:ss'}}</div> -->
      <div class="timer"><countdown [text]="text" units=" Days | Hours | Minutes | Seconds"  [end]="this.expiry"></countdown>
      </div>
      <div>
        <p>Vouch now and get the item at the discounted price if {{item.min_vouch}} vouches are reached by the deadline</p>
      </div>
       <div> <p class="qty-select">Qty: <select [(ngModel)]="selectedVouchQty">
          <option *ngFor="let q of vouchQty" [ngValue]="q">{{q}}</option>
       </select> </p>
       <button type="button" class="btn btn-warning btn-rounded" style="background-color:#ff941a;" (click)="changeRoute()"> Get the deal</button>
       </div>
       <div>
          <!-- <share-buttons [theme]="'circles-dark'" [include]="['facebook']" [show]="14" [url]="'http://twitter.com/'"></share-buttons> -->
          <p>Share this awesome deal with your friends and increase your chances of getting the discount</p>
          <button shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
              <i [class]="share.prop.twitter.icon"></i>
            </button>
          <button mat-fab shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
            <i [class]="share.prop.facebook.icon"></i>
          </button>
          <button shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color">
            <i [class]="share.prop.whatsapp.icon"></i>
          </button>
          <button mat-fab shareButton="linkedin" [style.backgroundColor]="share.prop.linkedin.color">
              <i [class]="share.prop.linkedin.icon"></i>
            </button>
            <button mat-fab shareButton="telegram" [style.backgroundColor]="share.prop.telegram.color">
              <i [class]="share.prop.telegram.icon"></i>
            </button>
            <button mat-fab shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color">
              <i [class]="share.prop.pinterest.icon"></i>
            </button>
        </div>
     
       <hr>
       <div class="text-center"><p >Don't want to wait till the deal closes. Buy now for original price</p></div>
       <div><p class="qty-select">Qty: <select [(ngModel)]="selectedBuyQty">
            <option *ngFor="let q of buyQty" [ngValue]="q">{{q}}</option>
            </select> </p>
            <button type="button" class="btn btn-info btn-rounded" (click)="changeRoute(card.id)"> Buy Now ${{item.current_price}}</button>
        </div>




      <!-- <mdb-progressbar value="25" min="0" max="100" type="success" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></mdb-progressbar> -->
    </div>
</div>
