<div class="container-fluid item-detail" ng-if="item">
  <!-- Content here -->
  <div class="row">
    <div class="col-md-8 item-card">
       <h4 class="text-left">{{item.name}}</h4>
       <div class="row">
         <div class="col-2">
           <img src="{{item.image_small}}" alt="" class="img-thumbnail">
         </div>
         <div class="col-10">
            <img src="{{item.image_big}}" alt="">
         </div>
       </div>
       <div class="row">
          <h5 class="text-left about-item">About this item</h5>
          <p class="text-left">{{item.description}}</p>
        </div>
  </div>
  <div class="col-md-4 cart-card">
    <div class="row z-depth-1">
      <div class="price-row"><span class="disc-price text-left">${{item.vouch_price}}</span>  <span class="curr-price">Orig. price ${{item.current_price}}</span>  <span class="save-perct">save 10%</span> </div>
      <hr>
      <div class="timer">Expires: {{item.voucher_expiration}}</div>

      <progressbar [max]="item.min_vouch" [value]="item.vouch_qty" type="success" [animate]="true"><i>{{item.vouch_qty}}/{{item.min_vouch}}</i></progressbar>
      <div>
         
      </div>
      
      <!-- <mdb-progressbar value="25" min="0" max="100" type="success" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></mdb-progressbar> -->

    </div>
  </div>
  
  
</div>