.item-detail{
    .item-card{
        padding-left: 40px;
        padding-top: 50px;

        .row{
            width: 100%;
            margin-left: 0px;
            .about-item{
                font-weight: bold;
            }
        }
    }

    .cart-card{
        padding-top: 100px;
        padding-right: 30px;
        
        .cart-body{
            padding: 10px;
        }
        hr{
            width: 100%;
        }
        .timer{
            width: 100%;
            margin-left: 0px;
            // padding-left: 20px;
        }
        .price-row{
            padding: 20px;
        
        }
        .disc-price{
            font-weight: bold;
            margin-left: 10px;
            font-size: 30px;
        }

        .curr-price{
            margin-left: 15px;
            font-size: 0.8rem;
        }

        .save-perct{
            margin-left: 20px;
            color: red;
        }

        .counter-bar{
            width: 100%;
            padding: 2% 10%;
        }

        .qty-select{
            display: inline-block;
        }
    }
}